@import "./global";

// homepage
.home__landing {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/homepage/landing\ \(1\).png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;

  .home__text {
    display: inherit;
    padding: 20px;
  }

  .award-mobile {
    display: none;
  }

  h1,
  h3 {
    font-family: $font_heading;
    color: #fff;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: $base_heading-size;
  }

  h3 {
    position: absolute;
  }

  .circle_winemaker {
    border: 3px solid #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    flex-shrink: 0;
  }
}

.card-row-section {
  @include tile-section;

  h1 {
    margin-bottom: 30px;
  }
}

.card-row-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 50px;

  a {
    @include link-only;
  }

  a:hover {
    @include link-only_hover;
  }

  .card-row-content {
    flex: 1;
  }

  img:hover {
    opacity: 70%;
    transform: scale(1.02);
    transition: 0.5s;
  }

  .card-row-content:hover > h2 > a {
    color: $contrast_color;
  }

  .card-image-wrapper {
    padding: 50%;
    position: relative;
  }

  .card-image-wrapper img {
    @include basic-image;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  h2 {
    padding-top: 20px;
  }
}

.home__vineyard-container {
  min-width: 400px;
  max-width: 450px;
}

.home__item-card {
  min-width: 300px;
  max-width: 350px;
}

.pic-text-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
  margin: 40px auto;
  place-items: center;
  width: 80vw;

  .pic-text-img-wrapper {
    max-height: 400px;
    min-width: 450px;
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .pic-text-img-wrapper img {
    @include basic-image;
  }

  .pic-text-txt-wrapper {
    min-height: 200px;
    min-width: 500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  p {
    text-align: justify;
  }

  button {
    align-self: flex-end;
  }
}

.page-landing {
  height: 70vh;

  img {
    @include basic-image;
  }
}

.shop-menu {
  background-color: $sub_color;
  color: #fff;
  text-align: center;
  padding: 20px;

  h2 {
    font-family: $font_heading;
    text-transform: capitalize;
    margin-bottom: 40px;
  }

  a {
    @include link-only;
  }

  a:hover {
    @include link-only_hover;
  }

  p {
    margin: 0 auto;
    width: 60%;
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}

.shop-title {
  color: $sub_color;

  h1 {
    text-align: center;
  }

  .wine-types {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px auto 40px auto;

    .wine-icon {
      width: 3em;
      height: 3em;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0 3px 3px #222);
    }
  }
}

.shop-wine-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(520px, auto);
  justify-items: center;
  text-align: center;
  width: 80vw;
  margin: 80px auto;
  gap: 70px;

  .wine-cards {
    max-height: 250px;

    h2,
    h3,
    a {
      font-family: $font_heading;
      text-transform: capitalize;
      color: $sub_color;
      margin: 15px 0;
    }

    label {
      font-family: $font_p;
      color: $sub_color;
    }

    h2 {
      padding-top: 20px;
    }

    p {
      font-size: 13px;
      margin: 15px 0;
    }

    a {
      text-decoration: underline;
    }

    a:hover {
      @include link-only_hover;
    }

    .shop-wines {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .shop-wine-icon {
      position: absolute;
      width: 3em;
      height: 3em;
      filter: drop-shadow(0 3px 3px #222);
      bottom: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .long-title-icon {
      right: 90px;
    }

    .wine-pics {
      max-height: 280px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    img.wine-pics:hover {
      transform: scale(1.1);
      transition: 0.4s;
      filter: drop-shadow(0 3px 3px #222);
    }

    button {
      transform: scale(0.7);
      margin: 10px 0;
      font-size: 19px;
    }

    input {
      width: 40px;
      text-align: center;
    }
  }
}

.explore-wine-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-auto-rows: minmax(470px, auto);
  place-content: center;
  align-items: center;
  margin: 100px auto 50px auto;

  .explore-wine-img-wrapper {
    max-height: 350px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h2,
  h3,
  h6 {
    font-family: $font_heading;
  }

  h2,
  h3 {
    text-transform: capitalize;
  }

  p {
    font-style: italic;
  }

  a,
  label {
    font-family: $font_p;
  }

  a {
    color: $red;
  }

  a:hover {
    color: $contrast_color;
  }

  button {
    transform: scale(0.7);
    margin: 10px 0 10px -10px;
    font-size: 19px;
  }

  input {
    width: 40px;
    text-align: center;
  }

  h1 {
    margin: 5px 0;
  }

  .explore-wine-txt-wrapper {
    .wine-label-wrapper {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      gap: 10px;
      padding-bottom: 5px;
      margin-bottom: 5px;

      * {
        padding: 1.5px;
      }

      .organic {
        background-color: #905549;
        width: 90px;
      }

      .biodynamic {
        background-color: $sub_color;
        width: 90px;
      }
    }
  }
}

.wine-details-container {
  background-color: $red;
  padding-top: 60px;
  padding-bottom: 80px;

  p {
    color: #fff;
    text-align: justify;
    padding: 20px 0;
  }

  .info-div {
    width: 60vw;
    margin: 0 auto;
    padding: 20px 0;
  }

  .info-title {
    display: flex;
    color: $contrast_color;
    text-transform: capitalize;
    font-family: $font_heading;
    gap: 20px;

    img {
      width: 2em;
      height: 2em;
    }
  }
}

.voucher {
  p {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
}

.shop-others {
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
  min-height: 250px;
  max-height: 350px;
  place-items: center;
  margin: 0 auto;

  img {
    @include basic-image;
    object-position: center;
  }
}

.vineyard-section {
  position: relative;
  text-align: center;

  .page-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      margin: 0 15px;
    }
  }
}

#home,
#netherwood {
  background-color: $sub_color;
  color: $main_color;
}

#damsteep {
  color: $sub_color;
  flex-direction: row-reverse;

  a {
    color: $sub_color;
  }

  button {
    @include main-button;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  button:hover {
    @include main-button_hover;
  }

  button:hover > a {
    @include link-only_hover;
  }
}

.vineyard-info-container {
  gap: 50px;
  padding: 50px 100px;
  display: flex;
  justify-content: center;

  .vineyard-info-text {
    flex: 2;
  }

  .vineyard-info-img {
    flex: 1;
  }

  h2 {
    font-family: $font_heading;
  }

  .vineyard-info-img {
    width: 100%;
    height: auto;

    img {
      @include basic-image;
    }
  }

  .vineyard-info-text {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .view-soil {
      text-align: right;
      text-transform: capitalize;
      font-weight: bold;
    }

    a {
      @include link-only;
    }

    button:hover > a {
      @include link-only_hover;
    }
  }

  .vineyard-album {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      text-transform: capitalize;
      text-align: center;
    }

    button {
      align-self: flex-end;

      a {
        text-decoration: none;
      }
    }

    .vineyard-album-images {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      justify-content: center;

      .vineyard-wine-card {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
          text-transform: capitalize;
          padding-top: 10px;
        }

        .vineyard-wine-container {
          height: 100%;
          max-height: 230px;
          width: 150px;
          background-color: #fff;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          img:hover {
            opacity: 70%;
          }
        }
      }
    }
  }
}

.soils {
  h1 {
    text-align: center;
  }
}

.soils-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 10px 0 60px 0;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;

  .soil-cards {
    flex: 1;
    text-align: justify;

    * {
      padding: 5px 0;
    }
  }

  .soil-image-wrapper {
    img {
      @include basic-image;
    }
  }
}

.soil-map {
  margin: 30px 0;

  h1,
  p {
    text-align: center;
  }

  a {
    color: $sub_color;
    text-transform: capitalize;
  }

  p {
    padding: 30px 0;
  }

  .soil-map-img-wrapper {
    text-align: center;
    filter: drop-shadow(0 3px 3px #222);
    img {
      @include basic-image;
      width: 95vw;
    }
  }
}

.visit-album-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 100px;

  .visit-album-child {
    flex: 1;
    position: relative;
  }

  .visit-image-wrapper {
    height: 100%;
    img {
      @include basic-image;
    }
  }

  button {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 250px;
  }

  a {
    font-size: 24px;
    padding: 10px;
  }
}

#restaurant {
  @include tile-section;
}

#tastings {
  background-color: $main_color;
  color: $sub_color;
  font-family: $font_heading;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 50px 0;
}

.visit-section {

  .visit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 80vw;
    gap: 30px;

    .visit-child {
      flex: 1;
    
      h2 {
        padding-top: 15px;
        display: inline-block;
      }

      a {
        @include link-only;
      }

      a:hover {
        @include link-only_hover;
      }

      .visit-img-wrapper {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
