@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Calistoga&family=Noticia+Text:wght@400;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f2;
}

h1, h2, h3 {
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
}

p {
  font-family: "Biryani", sans-serif;
}

button {
  background-color: #c59407;
  padding: 8px 25px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #9f7703;
  box-shadow: 0 1px 2.5px #000;
  font-family: "Calistoga", cursive;
  font-size: 18px;
  min-width: 110px;
  flex-grow: 0;
  flex-shrink: 0;
}
button a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: #14281d;
  outline: 1px solid #c59407;
  color: #c59407;
}

button:hover > a {
  color: #c59407;
}

/* HEADER */
.navigation {
  position: fixed;
  z-index: 1000;
  background-color: #f1f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  top: 0;
  right: 0;
  left: 0;
  gap: 50px;
  height: 100px;
}
.navigation .navigation__menu {
  display: none;
  font-family: "Calistoga", cursive;
  font-size: 16px;
}
.navigation #burger-menu {
  background-color: rgba(241, 245, 242, 0.9);
  font-family: "Calistoga", cursive;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 75px;
  right: 0;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
}
.navigation #burger-menu * {
  margin: 10px 0;
}
.navigation #burger-menu a {
  text-decoration: none;
  color: #14281d;
}
.navigation #burger-menu a:hover {
  color: #c59407;
}
.navigation .mobile-menu-content * {
  display: none;
}
.navigation ul {
  display: flex;
  align-items: center;
}
.navigation ul a {
  text-decoration: none;
  color: #14281d;
}
.navigation ul a:hover {
  color: #c59407;
  border-bottom: 2px solid #c59407;
}
.navigation li,
.navigation .navigation__icon {
  list-style: none;
  margin: 10px;
  flex: 1;
  font-size: 18px;
}
.navigation .navigation__logo {
  min-width: 100px;
  max-width: 130px;
}
.navigation .navigation__icon img,
.navigation .navigation__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation .navigation__icon {
  width: 1.5em;
  height: 1.5em;
}
.navigation .navigation__icon:hover {
  transform: scale(1.2);
  text-shadow: 0 1px 2.5px #000;
}

.footer {
  background-color: #14281d;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 45px;
}
.footer .footer-child {
  flex: 1;
  min-width: 1fr;
}
.footer .footer-child h3 {
  padding-bottom: 20px;
  font-family: "Calistoga", cursive !important;
  text-align: center;
}
.footer .hours-column {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer ul {
  flex-shrink: 0;
}
.footer li {
  list-style: none;
  font-family: "Biryani", sans-serif;
  font-size: 12px;
}
.footer a {
  text-decoration: underline;
  color: #fff;
}
.footer li > a.email {
  text-transform: none;
}
.footer p,
.footer input {
  font-size: 12px;
  font-family: "Biryani", sans-serif;
}
.footer input::-moz-placeholder {
  text-transform: capitalize;
}
.footer input:-ms-input-placeholder {
  text-transform: capitalize;
}
.footer input::placeholder {
  text-transform: capitalize;
}
.footer a:hover {
  color: #c59407;
}
.footer .footer-newsletter {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.footer .footer-newsletter button,
.footer .footer-newsletter p {
  align-self: center;
}
.footer .footer-newsletter p {
  max-width: 300px;
  min-width: 250px;
}
.footer .footer-newsletter button {
  transform: scale(0.7);
  margin: 10px 0;
}
.footer .newsletter-form {
  display: grid;
  place-content: center;
  padding: 0 15px;
  grid-template-columns: repeat(2, 150px);
  grid-auto-rows: minmax(30px, auto);
  gap: 3px;
  grid-template-areas: "name fam-name" "email email";
}
.footer .newsletter-form .newsletter-input-name {
  grid-area: name;
}
.footer .newsletter-form .newsletter-input-fam-name {
  grid-area: fam-name;
}
.footer .newsletter-form #email {
  grid-area: email;
}
.footer .footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.footer .footer-contact-wrapper .footer-links,
.footer .footer-contact-wrapper .footer-follow {
  font-family: "Calistoga", cursive;
  padding: 7px 0;
}
.footer .footer-contact-wrapper .footer-links * {
  margin-right: 10px;
}
.footer .footer-contact-wrapper .footer-links a,
.footer .footer-contact-wrapper .footer-follow a {
  text-decoration: none;
}
.footer .footer-contact-wrapper .footer-icons {
  width: 1.5em;
  height: 1.5em;
}
.footer .footer-contact-wrapper .footer-icons img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .footer-contact-wrapper .footer-social-media {
  display: flex;
  gap: 10px;
}
.footer .footer-contact-wrapper .footer-icons:hover {
  transform: scale(1.2);
  text-shadow: 0 1px 2.5px #000;
}

.go-to-top-btn {
  display: flex;
  justify-content: flex-end;
}
.go-to-top-btn .bg-wrapper {
  background-color: #c59407;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 270px;
  right: 30px;
}
.go-to-top-btn .bg-wrapper p {
  color: #14281d;
  font-size: 20px;
}
.go-to-top-btn .bg-wrapper:hover p {
  color: #f1f5f2;
}

.no-display {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f2;
}

h1, h2, h3 {
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
}

p {
  font-family: "Biryani", sans-serif;
}

button {
  background-color: #c59407;
  padding: 8px 25px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #9f7703;
  box-shadow: 0 1px 2.5px #000;
  font-family: "Calistoga", cursive;
  font-size: 18px;
  min-width: 110px;
  flex-grow: 0;
  flex-shrink: 0;
}
button a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: #14281d;
  outline: 1px solid #c59407;
  color: #c59407;
}

button:hover > a {
  color: #c59407;
}

/* HEADER */
.navigation {
  position: fixed;
  z-index: 1000;
  background-color: #f1f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  top: 0;
  right: 0;
  left: 0;
  gap: 50px;
  height: 100px;
}
.navigation .navigation__menu {
  display: none;
  font-family: "Calistoga", cursive;
  font-size: 16px;
}
.navigation #burger-menu {
  background-color: rgba(241, 245, 242, 0.9);
  font-family: "Calistoga", cursive;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 75px;
  right: 0;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
}
.navigation #burger-menu * {
  margin: 10px 0;
}
.navigation #burger-menu a {
  text-decoration: none;
  color: #14281d;
}
.navigation #burger-menu a:hover {
  color: #c59407;
}
.navigation .mobile-menu-content * {
  display: none;
}
.navigation ul {
  display: flex;
  align-items: center;
}
.navigation ul a {
  text-decoration: none;
  color: #14281d;
}
.navigation ul a:hover {
  color: #c59407;
  border-bottom: 2px solid #c59407;
}
.navigation li,
.navigation .navigation__icon {
  list-style: none;
  margin: 10px;
  flex: 1;
  font-size: 18px;
}
.navigation .navigation__logo {
  min-width: 100px;
  max-width: 130px;
}
.navigation .navigation__icon img,
.navigation .navigation__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation .navigation__icon {
  width: 1.5em;
  height: 1.5em;
}
.navigation .navigation__icon:hover {
  transform: scale(1.2);
  text-shadow: 0 1px 2.5px #000;
}

.footer {
  background-color: #14281d;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 45px;
}
.footer .footer-child {
  flex: 1;
  min-width: 1fr;
}
.footer .footer-child h3 {
  padding-bottom: 20px;
  font-family: "Calistoga", cursive !important;
  text-align: center;
}
.footer .hours-column {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer ul {
  flex-shrink: 0;
}
.footer li {
  list-style: none;
  font-family: "Biryani", sans-serif;
  font-size: 12px;
}
.footer a {
  text-decoration: underline;
  color: #fff;
}
.footer li > a.email {
  text-transform: none;
}
.footer p,
.footer input {
  font-size: 12px;
  font-family: "Biryani", sans-serif;
}
.footer input::-moz-placeholder {
  text-transform: capitalize;
}
.footer input:-ms-input-placeholder {
  text-transform: capitalize;
}
.footer input::placeholder {
  text-transform: capitalize;
}
.footer a:hover {
  color: #c59407;
}
.footer .footer-newsletter {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.footer .footer-newsletter button,
.footer .footer-newsletter p {
  align-self: center;
}
.footer .footer-newsletter p {
  max-width: 300px;
  min-width: 250px;
}
.footer .footer-newsletter button {
  transform: scale(0.7);
  margin: 10px 0;
}
.footer .newsletter-form {
  display: grid;
  place-content: center;
  padding: 0 15px;
  grid-template-columns: repeat(2, 150px);
  grid-auto-rows: minmax(30px, auto);
  gap: 3px;
  grid-template-areas: "name fam-name" "email email";
}
.footer .newsletter-form .newsletter-input-name {
  grid-area: name;
}
.footer .newsletter-form .newsletter-input-fam-name {
  grid-area: fam-name;
}
.footer .newsletter-form #email {
  grid-area: email;
}
.footer .footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.footer .footer-contact-wrapper .footer-links,
.footer .footer-contact-wrapper .footer-follow {
  font-family: "Calistoga", cursive;
  padding: 7px 0;
}
.footer .footer-contact-wrapper .footer-links * {
  margin-right: 10px;
}
.footer .footer-contact-wrapper .footer-links a,
.footer .footer-contact-wrapper .footer-follow a {
  text-decoration: none;
}
.footer .footer-contact-wrapper .footer-icons {
  width: 1.5em;
  height: 1.5em;
}
.footer .footer-contact-wrapper .footer-icons img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .footer-contact-wrapper .footer-social-media {
  display: flex;
  gap: 10px;
}
.footer .footer-contact-wrapper .footer-icons:hover {
  transform: scale(1.2);
  text-shadow: 0 1px 2.5px #000;
}

.go-to-top-btn {
  display: flex;
  justify-content: flex-end;
}
.go-to-top-btn .bg-wrapper {
  background-color: #c59407;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 270px;
  right: 30px;
}
.go-to-top-btn .bg-wrapper p {
  color: #14281d;
  font-size: 20px;
}
.go-to-top-btn .bg-wrapper:hover p {
  color: #f1f5f2;
}

.no-display {
  display: none;
}

.home__landing {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/homepage/landing (1).png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.home__landing .home__text {
  display: inherit;
  padding: 20px;
}
.home__landing .award-mobile {
  display: none;
}
.home__landing h1,
.home__landing h3 {
  font-family: "Calistoga", cursive;
  color: #fff;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.home__landing h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 48px;
}
.home__landing h3 {
  position: absolute;
}
.home__landing .circle_winemaker {
  border: 3px solid #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  flex-shrink: 0;
}

.card-row-section {
  background-color: #14281d;
  color: #fff;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 50px 0;
}
.card-row-section h1 {
  margin-bottom: 30px;
}

.card-row-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 50px;
}
.card-row-wrapper a {
  text-decoration: underline;
  color: #fff;
}
.card-row-wrapper a:hover {
  color: #c59407;
}
.card-row-wrapper .card-row-content {
  flex: 1;
}
.card-row-wrapper img:hover {
  opacity: 70%;
  transform: scale(1.02);
  transition: 0.5s;
}
.card-row-wrapper .card-row-content:hover > h2 > a {
  color: #c59407;
}
.card-row-wrapper .card-image-wrapper {
  padding: 50%;
  position: relative;
}
.card-row-wrapper .card-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.card-row-wrapper h2 {
  padding-top: 20px;
}

.home__vineyard-container {
  min-width: 400px;
  max-width: 450px;
}

.home__item-card {
  min-width: 300px;
  max-width: 350px;
}

.pic-text-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 40px;
  margin: 80px auto;
  place-items: center;
  width: 80vw;
}
.pic-text-section .pic-text-img-wrapper {
  max-height: 400px;
  min-width: 450px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.pic-text-section .pic-text-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.pic-text-section .pic-text-txt-wrapper {
  min-height: 200px;
  min-width: 500px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.pic-text-section p {
  text-align: justify;
}
.pic-text-section button {
  align-self: flex-end;
}

.page-landing {
  height: 70vh;
}
.page-landing img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.shop-menu {
  background-color: #14281d;
  color: #fff;
  text-align: center;
  padding: 40px;
}
.shop-menu h2 {
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.shop-menu a {
  text-decoration: underline;
  color: #fff;
}
.shop-menu a:hover {
  color: #c59407;
}
.shop-menu p {
  margin: 0 auto;
  width: 60%;
}
.shop-menu nav {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.shop-title {
  color: #14281d;
  padding-top: 100px;
}
.shop-title h1 {
  text-align: center;
}
.shop-title .wine-types {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 10px auto 40px auto;
}
.shop-title .wine-types .wine-icon {
  width: 3em;
  height: 3em;
}
.shop-title .wine-types img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(0 3px 3px #222);
}

.shop-wine-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(520px, auto);
  justify-items: center;
  text-align: center;
  width: 80vw;
  margin: 80px auto;
  gap: 70px;
}
.shop-wine-container .wine-cards {
  max-height: 250px;
}
.shop-wine-container .wine-cards h2,
.shop-wine-container .wine-cards h3,
.shop-wine-container .wine-cards a {
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  color: #14281d;
  margin: 15px 0;
}
.shop-wine-container .wine-cards label {
  font-family: "Biryani", sans-serif;
  color: #14281d;
}
.shop-wine-container .wine-cards h2 {
  padding-top: 20px;
}
.shop-wine-container .wine-cards p {
  font-size: 13px;
  margin: 15px 0;
  height: 70px;
}
.shop-wine-container .wine-cards a {
  text-decoration: underline;
}
.shop-wine-container .wine-cards a:hover {
  color: #c59407;
}
.shop-wine-container .wine-cards .shop-wines {
  position: relative;
  width: 100%;
  height: 100%;
}
.shop-wine-container .wine-cards .shop-wine-icon {
  position: absolute;
  width: 3em;
  height: 3em;
  filter: drop-shadow(0 3px 3px #222);
  bottom: 10px;
}
.shop-wine-container .wine-cards .shop-wine-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop-wine-container .wine-cards .long-title-icon {
  right: 90px;
}
.shop-wine-container .wine-cards .wine-pics {
  max-height: 280px;
}
.shop-wine-container .wine-cards .wine-pics img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop-wine-container .wine-cards img.wine-pics:hover {
  transform: scale(1.1);
  transition: 0.4s;
  filter: drop-shadow(0 3px 3px #222);
}
.shop-wine-container .wine-cards button {
  transform: scale(0.7);
  margin: 10px 0;
  font-size: 19px;
}
.shop-wine-container .wine-cards input {
  width: 40px;
  text-align: center;
}

.explore-wine-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-auto-rows: minmax(470px, auto);
  place-content: center;
  align-items: center;
  margin: 100px auto 50px auto;
}
.explore-wine-container .explore-wine-img-wrapper {
  max-height: 350px;
  height: 100%;
}
.explore-wine-container .explore-wine-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.explore-wine-container h2,
.explore-wine-container h3,
.explore-wine-container h6 {
  font-family: "Calistoga", cursive;
}
.explore-wine-container h2,
.explore-wine-container h3 {
  text-transform: capitalize;
}
.explore-wine-container p {
  font-style: italic;
}
.explore-wine-container a,
.explore-wine-container label {
  font-family: "Biryani", sans-serif;
}
.explore-wine-container a {
  color: #6b0f1a;
}
.explore-wine-container a:hover {
  color: #c59407;
}
.explore-wine-container button {
  transform: scale(0.7);
  margin: 10px 0 10px -10px;
  font-size: 19px;
}
.explore-wine-container input {
  width: 40px;
  text-align: center;
}
.explore-wine-container h1 {
  margin: 5px 0;
}
.explore-wine-container .explore-wine-txt-wrapper .wine-label-wrapper {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.explore-wine-container .explore-wine-txt-wrapper .wine-label-wrapper * {
  padding: 1.5px;
}
.explore-wine-container .explore-wine-txt-wrapper .wine-label-wrapper .organic {
  background-color: #905549;
  width: 90px;
}
.explore-wine-container .explore-wine-txt-wrapper .wine-label-wrapper .biodynamic {
  background-color: #14281d;
  width: 90px;
}

.wine-details-container {
  background-color: #6b0f1a;
  padding-top: 60px;
  padding-bottom: 80px;
}
.wine-details-container p {
  color: #fff;
  text-align: justify;
  padding: 20px 0;
}
.wine-details-container .info-div {
  width: 60vw;
  margin: 0 auto;
  padding: 20px 0;
}
.wine-details-container .info-title {
  display: flex;
  color: #c59407;
  text-transform: capitalize;
  font-family: "Calistoga", cursive;
  gap: 20px;
}
.wine-details-container .info-title img {
  width: 2em;
  height: 2em;
}

.voucher p {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.shop-others {
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
  min-height: 250px;
  max-height: 350px;
  place-items: center;
  margin: 0 auto;
}
.shop-others img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  object-position: center;
}

.vineyard-section {
  position: relative;
  text-align: center;
}
.vineyard-section .page-title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vineyard-section .page-title-container button {
  margin: 0 15px;
}

#home,
#netherwood {
  background-color: #14281d;
  color: #f1f5f2;
}

#damsteep {
  color: #14281d;
  flex-direction: row-reverse;
}
#damsteep a {
  color: #14281d;
}
#damsteep button {
  background-color: #c59407;
  padding: 8px 25px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #9f7703;
  box-shadow: 0 1px 2.5px #000;
  font-family: "Calistoga", cursive;
  font-size: 18px;
  min-width: 110px;
  flex-grow: 0;
  flex-shrink: 0;
}
#damsteep button a {
  color: #fff;
  text-decoration: none;
}
#damsteep button:hover {
  background-color: #14281d;
  outline: 1px solid #c59407;
  color: #c59407;
}
#damsteep button:hover > a {
  color: #c59407;
}

.vineyard-info-container {
  gap: 50px;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
}
.vineyard-info-container .vineyard-info-text {
  flex: 2;
}
.vineyard-info-container .vineyard-info-img {
  flex: 1;
}
.vineyard-info-container h2 {
  font-family: "Calistoga", cursive;
}
.vineyard-info-container .vineyard-info-img {
  width: 100%;
  height: auto;
}
.vineyard-info-container .vineyard-info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.vineyard-info-container .vineyard-info-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.vineyard-info-container .vineyard-info-text .view-soil {
  text-align: right;
  text-transform: capitalize;
  font-weight: bold;
}
.vineyard-info-container .vineyard-info-text a {
  text-decoration: underline;
  color: #fff;
}
.vineyard-info-container .vineyard-info-text button:hover > a {
  color: #c59407;
}
.vineyard-info-container .vineyard-album {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vineyard-info-container .vineyard-album h2 {
  text-transform: capitalize;
  text-align: center;
}
.vineyard-info-container .vineyard-album button {
  align-self: flex-end;
}
.vineyard-info-container .vineyard-album button a {
  text-decoration: none;
}
.vineyard-info-container .vineyard-album .vineyard-album-images {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  justify-content: center;
}
.vineyard-info-container .vineyard-album .vineyard-album-images .vineyard-wine-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.vineyard-info-container .vineyard-album .vineyard-album-images .vineyard-wine-card p {
  text-transform: capitalize;
  padding-top: 10px;
}
.vineyard-info-container .vineyard-album .vineyard-album-images .vineyard-wine-card .vineyard-wine-container {
  height: 100%;
  max-height: 230px;
  width: 150px;
  background-color: #fff;
}
.vineyard-info-container .vineyard-album .vineyard-album-images .vineyard-wine-card .vineyard-wine-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.vineyard-info-container .vineyard-album .vineyard-album-images .vineyard-wine-card .vineyard-wine-container img:hover {
  opacity: 70%;
}

.soils h1 {
  text-align: center;
}

.soils-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 10px 0 60px 0;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;
}
.soils-container .soil-cards {
  flex: 1;
  text-align: justify;
}
.soils-container .soil-cards * {
  padding: 5px 0;
}
.soils-container .soil-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.soil-map {
  margin: 30px 0;
}
.soil-map h1,
.soil-map p {
  text-align: center;
}
.soil-map a {
  color: #14281d;
  text-transform: capitalize;
}
.soil-map p {
  padding: 30px 0;
}
.soil-map .soil-map-img-wrapper {
  text-align: center;
  filter: drop-shadow(0 3px 3px #222);
}
.soil-map .soil-map-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 95vw;
}

.visit-album-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 100px;
}
.visit-album-container .visit-album-child {
  flex: 1;
  position: relative;
}
.visit-album-container .visit-image-wrapper {
  height: 100%;
}
.visit-album-container .visit-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.visit-album-container button {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 250px;
}
.visit-album-container a {
  font-size: 24px;
  padding: 10px;
}

#restaurant {
  background-color: #14281d;
  color: #fff;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 50px 0;
}

#tastings {
  background-color: #f1f5f2;
  color: #14281d;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 50px 0;
}
#tastings .visit-container {
  flex-direction: row-reverse !important;
}
#tastings a {
  color: #14281d;
}
#tastings a:hover {
  color: #c59407;
}

.visit-section .visit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  padding-top: 10px;
}
.visit-section .visit-container .visit-child {
  flex: 1;
}
.visit-section .visit-container .visit-child h2 {
  margin-top: 5px;
  display: inline-block;
}
.visit-section .visit-container .visit-child a {
  text-decoration: underline;
  color: #fff;
}
.visit-section .visit-container .visit-child a:hover {
  color: #c59407;
}
.visit-section .visit-container .visit-child .visit-img-wrapper {
  height: 100%;
}
.visit-section .visit-container .visit-child .visit-img-wrapper img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.events-title {
  text-align: center;
  background-color: #14281d;
  color: #fff;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 50px 0;
}

.events-body {
  background-color: #14281d;
}

.events-section {
  background-color: #14281d;
  color: #fff;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 50px 0;
  margin: 0 auto;
  padding: 0 0 60px 0;
}
.events-section h2 {
  text-align: left;
  padding-bottom: 20px;
}
.events-section p {
  font-size: 0.9em;
}

.trail {
  margin-bottom: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f2;
}

h1, h2, h3 {
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
}

p {
  font-family: "Biryani", sans-serif;
}

button {
  background-color: #c59407;
  padding: 8px 25px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #9f7703;
  box-shadow: 0 1px 2.5px #000;
  font-family: "Calistoga", cursive;
  font-size: 18px;
  min-width: 110px;
  flex-grow: 0;
  flex-shrink: 0;
}
button a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: #14281d;
  outline: 1px solid #c59407;
  color: #c59407;
}

button:hover > a {
  color: #c59407;
}

/* HEADER */
.navigation {
  position: fixed;
  z-index: 1000;
  background-color: #f1f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  top: 0;
  right: 0;
  left: 0;
  gap: 50px;
  height: 100px;
}
.navigation .navigation__menu {
  display: none;
  font-family: "Calistoga", cursive;
  font-size: 16px;
}
.navigation #burger-menu {
  background-color: rgba(241, 245, 242, 0.9);
  font-family: "Calistoga", cursive;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 75px;
  right: 0;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
}
.navigation #burger-menu * {
  margin: 10px 0;
}
.navigation #burger-menu a {
  text-decoration: none;
  color: #14281d;
}
.navigation #burger-menu a:hover {
  color: #c59407;
}
.navigation .mobile-menu-content * {
  display: none;
}
.navigation ul {
  display: flex;
  align-items: center;
}
.navigation ul a {
  text-decoration: none;
  color: #14281d;
}
.navigation ul a:hover {
  color: #c59407;
  border-bottom: 2px solid #c59407;
}
.navigation li,
.navigation .navigation__icon {
  list-style: none;
  margin: 10px;
  flex: 1;
  font-size: 18px;
}
.navigation .navigation__logo {
  min-width: 100px;
  max-width: 130px;
}
.navigation .navigation__icon img,
.navigation .navigation__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation .navigation__icon {
  width: 1.5em;
  height: 1.5em;
}
.navigation .navigation__icon:hover {
  transform: scale(1.2);
  text-shadow: 0 1px 2.5px #000;
}

.footer {
  background-color: #14281d;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 45px;
}
.footer .footer-child {
  flex: 1;
  min-width: 1fr;
}
.footer .footer-child h3 {
  padding-bottom: 20px;
  font-family: "Calistoga", cursive !important;
  text-align: center;
}
.footer .hours-column {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer ul {
  flex-shrink: 0;
}
.footer li {
  list-style: none;
  font-family: "Biryani", sans-serif;
  font-size: 12px;
}
.footer a {
  text-decoration: underline;
  color: #fff;
}
.footer li > a.email {
  text-transform: none;
}
.footer p,
.footer input {
  font-size: 12px;
  font-family: "Biryani", sans-serif;
}
.footer input::-moz-placeholder {
  text-transform: capitalize;
}
.footer input:-ms-input-placeholder {
  text-transform: capitalize;
}
.footer input::placeholder {
  text-transform: capitalize;
}
.footer a:hover {
  color: #c59407;
}
.footer .footer-newsletter {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.footer .footer-newsletter button,
.footer .footer-newsletter p {
  align-self: center;
}
.footer .footer-newsletter p {
  max-width: 300px;
  min-width: 250px;
}
.footer .footer-newsletter button {
  transform: scale(0.7);
  margin: 10px 0;
}
.footer .newsletter-form {
  display: grid;
  place-content: center;
  padding: 0 15px;
  grid-template-columns: repeat(2, 150px);
  grid-auto-rows: minmax(30px, auto);
  gap: 3px;
  grid-template-areas: "name fam-name" "email email";
}
.footer .newsletter-form .newsletter-input-name {
  grid-area: name;
}
.footer .newsletter-form .newsletter-input-fam-name {
  grid-area: fam-name;
}
.footer .newsletter-form #email {
  grid-area: email;
}
.footer .footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.footer .footer-contact-wrapper .footer-links,
.footer .footer-contact-wrapper .footer-follow {
  font-family: "Calistoga", cursive;
  padding: 7px 0;
}
.footer .footer-contact-wrapper .footer-links * {
  margin-right: 10px;
}
.footer .footer-contact-wrapper .footer-links a,
.footer .footer-contact-wrapper .footer-follow a {
  text-decoration: none;
}
.footer .footer-contact-wrapper .footer-icons {
  width: 1.5em;
  height: 1.5em;
}
.footer .footer-contact-wrapper .footer-icons img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .footer-contact-wrapper .footer-social-media {
  display: flex;
  gap: 10px;
}
.footer .footer-contact-wrapper .footer-icons:hover {
  transform: scale(1.2);
  text-shadow: 0 1px 2.5px #000;
}

.go-to-top-btn {
  display: flex;
  justify-content: flex-end;
}
.go-to-top-btn .bg-wrapper {
  background-color: #c59407;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 270px;
  right: 30px;
}
.go-to-top-btn .bg-wrapper p {
  color: #14281d;
  font-size: 20px;
}
.go-to-top-btn .bg-wrapper:hover p {
  color: #f1f5f2;
}

.no-display {
  display: none;
}

@media (max-width: 62em) {
  .navigation {
    justify-content: flex-start;
  }
  .navigation ul {
    display: none;
  }
  .navigation .navigation__logo {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    max-width: 100vw;
  }
  .navigation .navigation__logo-wrapper {
    max-width: 140px;
  }
  .navigation .navigation__menu {
    display: flex;
    position: relative;
    align-content: center;
  }
  .navigation .navigation__menu:hover > .mobile-menu-content {
    display: block;
  }
  .navigation .mobile-menu-content {
    position: absolute;
    background-color: #f1f5f2;
  }
  .home__landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/homepage/landing.png");
    background-position: bottom;
  }
  .home__landing h3,
.home__landing .circle_winemaker {
    display: none;
  }
  .home__landing .award-mobile {
    display: block;
    position: absolute;
    bottom: 120px;
    background-color: #14281d;
    padding: 7px;
  }
  .home__landing h1 {
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .card-row-wrapper {
    margin: 0;
    gap: 50px;
  }
  .pic-text-section {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .footer {
    max-width: 50em;
  }
  .shop-menu p {
    width: 80%;
  }
  .explore-wine-container {
    grid-template-columns: 250px;
    grid-auto-rows: auto;
  }
  .wine-details-container .info-div {
    width: 80vw;
  }
  .vineyard-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .vineyard-info-container {
    flex-direction: column-reverse;
    padding: 50px;
  }
  .vineyard-info-container .vineyard-album button {
    align-self: center !important;
  }
  #damsteep {
    flex-direction: column-reverse;
  }
  .vineyard-info-img img {
    min-height: 15vh;
    max-height: 20vh;
    -o-object-position: 60% 65% !important;
       object-position: 60% 65% !important;
  }
  .soils-container {
    flex-direction: column;
    width: 75vw;
  }
  .soils-container .soil-image-wrapper {
    min-height: 150px;
    min-width: 250px;
  }
  .visit-album-container {
    flex-direction: column;
  }
  .visit-container {
    flex-direction: column-reverse;
  }
  #tastings .visit-container {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 30em) {
  .navigation {
    justify-content: flex-start;
    max-width: 30em;
  }
  .navigation ul {
    display: none;
  }
  .navigation .navigation__logo {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    max-width: 100vw;
  }
  .navigation .navigation__logo-wrapper {
    max-width: 110px;
  }
  .navigation .navigation__menu {
    display: flex;
    position: relative;
  }
  #burger-menu {
    width: 100%;
    min-width: 200px;
  }
  .home__landing h3,
.home__landing .circle_winemaker {
    display: none;
  }
  .home__landing .award-mobile {
    display: block;
    position: absolute;
    bottom: 190px;
    background-color: #14281d;
    padding: 7px;
  }
  .home__landing h1 {
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .home__vineyard-container,
.home__item-card {
    min-width: 250px;
    max-width: 300px;
  }
  .pic-text-section {
    gap: 25px;
    margin: 0 auto;
    padding: 15px 0 0 0;
  }
  .pic-text-section .pic-text-txt-wrapper {
    max-width: 250px;
    min-width: 220px;
    margin: 0 auto;
    min-height: 200px;
  }
  .pic-text-section .pic-text-img-wrapper {
    min-width: 250px;
    padding: 20px;
  }
  .shop-menu nav {
    flex-direction: column;
    gap: 0;
  }
  .wine-types {
    width: 85vw;
  }
  .shop-wine-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-content: center;
  }
  .vineyard-album-images {
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
  }
  .vineyard-album-images .vineyard-wine-container img {
    max-height: 200px !important;
  }
}
@media (max-width: 18em) {
  .home__landing {
    background-position: 65% bottom;
  }
  .home__text h1 {
    font-size: 1.75em;
    padding: 10px;
  }
  .award-mobile {
    bottom: 360px !important;
    right: 2%;
    left: 2%;
  }
  .newsletter-form {
    transform: scale(0.8);
  }
  .footer-newsletter p {
    width: 85vw;
    text-align: justify;
  }
}/*# sourceMappingURL=main.css.map */